@media screen and (max-width: 760px){

    body {
    background-image: none;
    color: white;
    background-color: black;
    background-size: 100%;

    } 
    
    
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 15px;
    }

    div {
        line-height: 45px;
    }

    header{
        margin: auto;
        margin: 8vw;
        margin-top: 1vw;
    }

    .bigorna{
        height: 13vw;
        margin-top: 0px;
    }
    .ferramentas{
        height: 13vw;
        margin-top: 10px;
    }

    input{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

  .componentes {
        width: 20vw;
      
    }

    .linkpeças {
        margin: 2vw;
    }

    .componentes1 {
        margin: 2%;
        padding: 0px;
    }
    .componentes2 {
        margin: 1vh;
       
    }

    .componentes:hover {
        transition: 0.5s;
        transform: translate(-3px, -3px);
    }

    footer{
        margin: auto;
        
    }

    .redesimg {
        margin: auto;
        margin-left: 28vw;
        margin-top: 30vw;
        width: 5vw;
    }

    .redesimg:hover{
        width: 5vw;
        transition: none;
    }

    .redeslink {
        padding: 30px;
    }

}

