@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

    
}

:root {
    --fonte1: 'Playfair Display';
}
body {
    background-image: url("../imagens/Design\ sem\ nome.png");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    

}

h1 {
    font-size: 60px;
    padding-top: 37px;
    font-family: ulisses;
    
}
    
header {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    margin-left: 30%;
    
}
div {
    
    line-height: 60px;
    
   
    
    
}


.bigorna {
    height: 14vh;
    padding-top: 37px;
}
    
   
    
.ferramentas{
    
    height: 15vh;
    padding-top: 37px;
}

input {
    display: flex;
        margin: auto;
        margin: 25%;
        width: 50%;
    margin-top: 10px;
    position: absolute;
    height: 55px;
    
    background-color: rgba(220, 125, 0, 0);
    border: 0;
    outline: 0;
    border-bottom: 3px solid white;
    color: white;
    font-size: 20px;

}

input:focus {
    border-bottom: 2px solid rgb(39, 39, 57);
}



.componentes1{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 23vw;
    margin-top: 0px;
}

.componentes2{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 23vw;
    margin-top: 0px;
}

 a > .componentes{
    height: 30vh;
    position: absolute;
}
.linkpeças {
    margin: 96px;
}

.componentes:hover {
    height: 35vh;
    transition: 0.5s;
    transform: translate(-10px, -10px);
}


.redesimg {
    width: 40px;
    margin: auto;
    margin-left: 34%;
    position: absolute;


    
}

.redesimg:hover {
    width: 60px;
    transition: 0.5s;
}

footer{
    display: block;
    margin-top: 100px;
    margin-left: 0;
    
    
}

.redeslink {
    padding: 70px;
}