@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
:root {
    --fonte1: 'Playfair Display';
}
body {
    background-image: url("../imagens/Design\ sem\ nome.png");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    

}

h1 {
    font-size: 60px;
    padding-top: 15px;
    font-family: ulisses;
    
}
    
.imgcentral {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.textcentral {
    margin: 0 20px;
    line-height: 60px;
}



.bigorna {
    height: 14vh;
    padding-top: 37px;
}
    
   
    
.ferramentas{
    
    height: 15vh;
    padding-top: 37px;
}

input {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 10px;
    height: 55px;
    background-color: rgba(220, 125, 0, 0);
    border: 0;
    outline: 0;
    border-bottom: 3px solid white;
    color: white;
    font-size: 20px;
}


input:focus {
    border-bottom: 2px solid rgb(39, 39, 57);
}



.componentes1{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
   
   
}

.componentes2{
    display: flex;
    
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
    
.componentes{
    width: 15vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
    

.componentes:hover {

    transition: 0.5s;
    transform: translate(-10px, -10px);
}



.redesimg {
    width: 40px;  
}

.redesimg:hover {
    transform: translate(-10px, -5px);
    transition: 0.5s;
}

footer{
    display: block;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.redeslink {
    padding: 0px 70px;
}